$white : #FFF;
$orange : #E65C43;
$light-gray : #F5F6F6;
$medium-gray : #666;
$dark-gray : #30353D;

$background-color : $white;
$header-3-color : $medium-gray;
$header-2-color : $white;
$header-1-color : $orange;
$headline-color : $orange;
$content-h1-color : $white;
$content-h3-color : $medium-gray;
$gray-bar-color : $light-gray;
$footer-background-color : $dark-gray;
$foorter-text-color : $white;


$image-logo : '../images/logo.png';
$image-bg : '../images/bg.gif';
$image-social-media : '../images/social-media.png';

$body-font : 'Roboto', sans-serif;


